*{
    margin: 0.;
    padding: 0;
    box-sizing: border-box;
}
.navbar{margin: 0;}
.navbar-brand{max-width: 200px;}
img{max-width: 100%;
  height:auto;
}

.btn{margin-top: 15px;
margin-bottom: 15px;}


.navbar-brand{padding-top: 0;}

.nav>li>a.avviso{padding-left: 0;}

.btn{color: blue;
border-color: blue;
}
.jumbotrone{
    background-image: url(immagini/immagine-sfondo.jpg);
    height: 100vh
}
#text{width: 50%;
margin-top: 150px;
float: left;
}
#text2{width: 40%;
margin-top: 40px;
float: left;
background-color: white;
}
#p1{font-size: 40px;
font-weight: bold;
color: white;}
.h3{font-size: 24px;
color: white;}
.h2{font-size: 30px;
font-weight: bold;
color: black;}
#full-name{font-weight: bold;}
#email{font-weight: bold;}
#btn-2{background-color: blue;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
span{text-align: center;
    color: #5b6987;
    display: -ms-grid;
    display: grid;
    font-size: 16px;
    width: 100%;
position: relative;}

span::before {
content: '';
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 150px;
height: 3px;
background-color: grey;
}

span::after {
content: '';
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
width: 150px;
height: 3px;
background-color: grey;
}
